name: CI Master

on:
  push:
    branches:
      - master

permissions:
  contents: write
  packages: write

jobs:
  validate:
    uses: ./.github/workflows/validate.yml

  release:
    needs: validate
    uses: ./.github/workflows/release.yml
    secrets: inherit
